<footer>
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <h5 class="text-uppercase">Clínica Salud y Bienestar</h5>
          <p class="footer-text">Calle Santa Barbara N°703, Santa Cruz de la Sierra, Bolivia</p>
          <p class="footer-contact">Teléfono: (591) 773-080424 | 333-5766</p>
        </div>
        <div class="col-lg-4 col-md-12 mb-2"> <!-- Cambia mb-4 a mb-2 -->
            <h5 class="text-uppercase">Servicios</h5>
            <ul class="list-unstyled">
                <li><a href="#!" class="text-dark">Consulta Médica</a></li>
                <li><a href="#!" class="text-dark">Urgencias</a></li>
                <li><a href="#!" class="text-dark">Pediatría</a></li>
                <li><a href="#!" class="text-dark">Ginecología</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-12 mb-4"> <!-- Cambia mb-4 a mb-2 -->
            <h5 class="text-uppercase">Imágenes</h5>
            <ul class="list-unstyled">
                <li><a href="#!" class="text-dark">Ecografías</a></li>
                <li><a href="#!" class="text-dark">Radiografías</a></li>
                <li><a href="#!" class="text-dark">Tomografías</a></li>
            </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3" id="footer-bottom">
      © 2024 Clínica Salud y Bienestar
    </div>
  </footer>