<div class="container py-5">
    <h2 class="mb-5">Especialidad</h2>
    
    <div class="text-end">
        <button class="btn btn-primary" routerLink="/newEsp">
            Nueva Especialidad
        </button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @for(especialidad of especialidades;track especialidad.id )
            {
                <tr>
                    <td>{{especialidad.id}}</td>
                    <td>{{especialidad.nombre}}</td>
                    <td>{{especialidad.descripcion}}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button class="btn btn-primary" [routerLink]="['/',especialidad.id,'editEsp']">
                            Editar
                        </button>
                        <button class="btn btn-danger" (click)="deletePerm(especialidad)" >
                            Eliminar
                        </button>
                        </div>
                    </td>
                   
                </tr>
            }
        </tbody>
        
    </table>
    </div>
    
    