<div class="container py-5">
    <h2 class="mb-5">Especialidad</h2>
    
    <div class="text-end mb-3">
        <button class="btn btn-primary" routerLink="/newEsp">
            Nueva Especialidad
        </button>
    </div>

    <div class="row">
        @for(especialidad of especialidades; track especialidad.id)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Especialidad ID: {{ especialidad.id }}</h5>
                        <p class="card-text"><strong>Nombre:</strong> {{ especialidad.nombre }}</p>
                        <p class="card-text"><strong>Descripcion:</strong> {{ especialidad.descripcion }}</p>
                        
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" [routerLink]="['/', especialidad.id, 'editEsp']">
                                Editar
                            </button>
                            <button class="btn btn-danger" (click)="deleteEsp(especialidad)">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>