<div class="container py-5">
    <h2 class="mb-5">Asegurados</h2>
    
    <div class="text-end">
        <button class="btn btn-primary" routerLink="/newAsegurado">
            Nuevo Asegurado
        </button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
            <th>ID</th>
            <th>TIPO DE SANGRE</th>
            <th>SEXO</th>
            <th>FECHA DE NACIMIENTO</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @for(asegurado of asegurados;track asegurado.id )
            {
                <tr>
                    <td>{{asegurado.id}}</td>
                    <td>{{asegurado.tipoSangre}}</td>
                    <td>{{asegurado.sexo}}</td>
                    <td>{{ asegurado.dia + '/' + asegurado.mes + '/' + asegurado.anio }}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button class="btn btn-primary" [routerLink]="['/',asegurado.id,'editAsegurados']">
                            Editar
                        </button>
                        <button class="btn btn-danger" (click)="deleteAsegurado(asegurado)" >
                            Eliminar
                        </button>
                        </div>
                    </td>
                   
                </tr>
            }
        </tbody>
        
    </table>
    </div>
    
    