<div class="container py-5">
    <h2 class="mb-5">Consulta</h2>
    
    <div class="text-end">
        <button class="btn btn-primary" routerLink="/newCons">
            Nueva Consulta
        </button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
            <th>ID</th>
            <th>FECHA</th>
            <th>MOTIVO</th>
            <th>DIAGNOSTICO</th>
            <th>NOTAS</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @for(consulta of consultas;track consulta.id )
            {
                <tr>
                    <td>{{consulta.id}}</td>
                    
                    <td>{{consulta.fecha | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{consulta.motivo}}</td>
                    <td>{{consulta.diagnostico}}</td>
                    <td>{{consulta.notas}}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button class="btn btn-primary" [routerLink]="[consulta.id,'editCons']">
                            Editar
                        </button>
                        <button class="btn btn-danger" (click)="deleteCons(consulta)" >
                            Eliminar
                        </button>
                        </div>
                    </td>
                   
                </tr>
            }
        </tbody>
        
    </table>
    </div>
    
    