<div class="container">
    <h2 class="mb-5"> 
        @if(asegurado){
            Editar
        }
        @else {
            Nuevo 
        }
         Asegurado
    </h2>
    <div class="row row-cols-3 justify-content-center">
        @if(form)
        {
            <form [formGroup]="form" (ngSubmit)="save()">
            
    
                <div class="mb-3">
                    <label for="tipoSangre">Tipo de Sangre</label>
                    <input id = "tipoSangre" type="text" placeholder="Tipo de Sangre" class="form-control"
                    formControlName="tipoSangre">
                    @if(form.get('tipoSangre')?.hasError('required')&& form.get('tipoSangre')?.touched){
                        <p class="invalid-feedback d-block">Tipo de Sangre</p>
                    }
            
                </div>

                <div class="mb-3">
                    <label for="sexo">Sexo</label>
                    <input id="sexo" type="text" maxlength="1" placeholder="Sexo" class="form-control" formControlName="sexo">
                    @if(form.get('sexo')?.hasError('required') && form.get('sexo')?.touched){
                        <p class="invalid-feedback d-block">El sexo es obligatorio</p>
                    }
                    @if(form.get('sexo')?.hasError('invalidSexo') && form.get('sexo')?.touched){
                        <p class="invalid-feedback d-block">Introduce un sexo valido ( F / M)</p>
                    }
                </div>
    
                <div class="mb-3">
                    <label for="dia">Dia</label>
                    <input id = "dia" type="number" placeholder="dia" class="form-control"
                    formControlName="dia">
                    @if(form.get('dia')?.hasError('required')&& form.get('dia')?.touched){
                        <p class="invalid-feedback d-block">El Dia es obligatorio</p>
                    }

                    @if(form.get('dia')?.hasError('min') ||form.get('dia')?.hasError('max') ){
                        <p class="invalid-feedback d-block">Introduce un día entre 1 y 31</p>
                    }
                   
                   

                    <label for="mes">Mes</label>
                    <input id = "mes" type="number" placeholder="Mes" class="form-control"
                    formControlName="mes">
                    @if(form.get('mes')?.hasError('required')&& form.get('mes')?.touched){
                        <p class="invalid-feedback d-block">El Mes es obligatorio</p>
                    }
                    @if(form.get('mes')?.hasError('min') ||form.get('mes')?.hasError('max') ){
                        <p class="invalid-feedback d-block">Introduce un día entre 1 y 12</p>
                    }

                    <label for="anio">Año</label>
                    <input id = "anio" type="number" placeholder="Año" class="form-control"
                    formControlName="anio">
                    @if(form.get('anio')?.hasError('required')&& form.get('anio')?.touched){
                        <p class="invalid-feedback d-block">El Año es obligatorio</p>
                    }
                    @if(form.get('anio')?.hasError('min') ||form.get('anio')?.hasError('max') ){
                        <p class="invalid-feedback d-block">Introduce un año entre 1910 y 2024</p>
                    }
            
                </div>
    
            
                <div class="text-end d-flex justify-content-between">
                    <button type="button" class="btn btn-danger" (click)="cancel()">
                        Cancelar
                    </button>
                    <button class="btn btn-primary ms-2" >
                        @if(asegurado){
                            Actualizar
                        }
                        @else {
                            Crear 
                        }
                         Asegurado
                    </button>
                </div>
            
            </form>
        }
    </div>

</div>