<div class="container py-5">
    <h2 class="mb-5">Permisos</h2>
    
    <div class="text-end">
        <button class="btn btn-primary" routerLink="/newPermiso">
            Nuevo Permiso
        </button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @for(permiso of permisos;track permiso.id )
            {
                <tr>
                    <td>{{permiso.id}}</td>
                    <td>{{permiso.nombre}}</td>
                    <td>{{permiso.descripcion}}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button class="btn btn-primary" [routerLink]="['/',permiso.id,'editPermiso']">
                            Editar
                        </button>
                        <button class="btn btn-danger" (click)="deletePerm(permiso)" >
                            Eliminar
                        </button>
                        </div>
                    </td>
                   
                </tr>
            }
        </tbody>
        
    </table>
    </div>
    
    