<div class="container py-5">
    <h2 class="mb-5">Medicos</h2>
    
    <div class="text-end">
        <button class="btn btn-primary" routerLink="/newMedico">
            Nuevo Medico
        </button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
            <th>ID</th>
            <th>ITEM</th>
            <th></th>

            
        </tr>
        </thead>
        <tbody>
            @for(medico of medicos;track medico.id )
            {
                <tr>
                    <td>{{medico.id}}</td>
                    <td>{{medico.item}}</td>
                    <td>
                        <div class="btn-group">
                        <button class="btn btn-primary" [routerLink]="['/',medico.id,'editMedico']">
                            Editar
                        </button>
                        <button class="btn btn-danger" (click)="deleteMedico(medico)">
                            Eliminar
                        </button>
                   </div>
                    </td>
                   
                </tr>
            }
        </tbody>
        
    </table>
    </div>
    
    