<div class="container">
    <h2>Modulo de Usuarios</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestionar Usuarios</h5>
        <button type="button" class="btn btn-primary" (click)="guser()">
          Ir a Gestionar Usuario
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestionar Rol</h5>
        <button type="button" class="btn btn-primary" (click)="grol()">
          Ir a Gestionar Rol
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestionar Permisos</h5>
        <button type="button" class="btn btn-primary" (click)="gperm()">
          Ir a Gestionar Permisos
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestionar Asegurados</h5>
        <button type="button" class="btn btn-primary" (click)="gaseg()">
          Ir a Gestionar Asegurados
        </button>
      </div>
    </div>

  </div>