<div class="container">
    <h2 class="mb-5">
        @if(medicos){
            Editar
        }
        @else {
            Nuevo 
        }
        Medico</h2>
    <div class="row row-cols-3 justify-content-center">
        @if(form){
            <form [formGroup]="form" (ngSubmit)="save()">
            
        
                

                <div class="mb-3">
                    <label for="item">Item</label>
                    <input id = "item" type="text" placeholder="Item" class="form-control"
                    formControlName="item">
                    @if(form.get('item')?.hasError('required')&& form.get('item')?.touched){
                        <p class="invalid-feedback d-block">El item es obligatorio</p>
                    }
            
                </div>
            
                <div class="text-end d-flex justify-content-between">
                    <button type="button" class="btn btn-danger" (click)="cancel()">
                        Cancelar
                    </button>
                    <button class="btn btn-primary ms-2" >
                        @if(medicos){
                            Actualizar
                        }
                        @else {
                            Crear 
                        }
                         Medico
                    </button>
                </div>
            
            </form>
        }
    </div>

</div>