<div class="container">
    <h2>Modulo de Atencion Medica</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestionar Especialidad Medica</h5>
        <button type="button" class="btn btn-primary" (click)="gesp()">
          Ir a Gestionar Especialidad Medica
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestionar Medicos</h5>
        <button type="button" class="btn btn-primary" (click)="gmed()">
          Ir a Gestionar Medicos
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestionar Horario de Atencion</h5>
        <button type="button" class="btn btn-primary" (click)="ghora()">
          Ir a Gestionar Horario de Atencion
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestionar Fichas</h5>
        <button type="button" class="btn btn-primary" (click)="gficha()">
          Ir a Gestionar Fichas
        </button>
      </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gestionar Permiso de Ausencias</h5>
          <button type="button" class="btn btn-primary" (click)="gausencia()">
            Ir a Gestionar Permiso de Ausencias
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gestionar Consulta</h5>
          <button type="button" class="btn btn-primary" (click)="gconsulta()">
            Ir a Gestionar Consulta
          </button>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gestionar Receta</h5>
          <button type="button" class="btn btn-primary" (click)="greceta()">
            Ir a Gestionar Receta
          </button>
        </div>
      </div>

  </div>