/* Estilo general para el contenedor */
.container {
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo blanco con opacidad */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    overflow: hidden; /* Para que los bordes redondeados se apliquen */
    box-shadow: 0 10px 60px rgba(59, 195, 236, 0.5); /* Sombra más pronunciada */
    transition: transform 0.3s; /* Transición para el contenedor */
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor con un margen superior */
}

/* Efecto hover para el contenedor */
.container:hover {
    transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
}

/* Estilo para el encabezado */
h2 {
    color: #00c3ff; /* Color para el texto */
    font-weight: bold; /* Negrita */
    transition: color 0.3s; /* Transición para el color */
    text-align: center; /* Centrar el texto */
}

/* Efecto hover para el encabezado */
h2:hover {
    color: #9b28dd9f; /* Color más brillante al pasar el mouse */
}

/* Estilo para las tarjetas */
.card {
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(59, 195, 236, 0.2); /* Sombra suave */
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

/* Efecto hover para las tarjetas */
.card:hover {
    transform: translateY(-5px); /* Levantar la tarjeta al pasar el mouse */
    box-shadow: 0 10px 40px rgba(59, 195, 236, 0.5); /* Sombra más pronunciada */
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido del cuerpo */
}

/* Estilo para los títulos de las tarjetas */
.card-title {
    color: #00c3ff; /* Color del título */
    font-weight: bold; /* Negrita */
}

/* Estilo para los botones */
.btn {
    margin: 0 5px; /* Espaciado entre botones */
    color: white; /* Color del texto de los botones */
    background-color: #32CD32; /* Color de fondo del botón (rojo) */
    border: none; /* Sin borde */
    border-radius: 6px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

/* Efecto hover para los botones */
.btn:hover {
    background-color: #9b28dd9f; /* Color más brillante al pasar el mouse */
    transform: translateY(-2px); /* Levantar el botón al pasar el mouse */
}